@mixin bumblebee {
  $fg-color: #E5B90E;
  $bg-color: black;

  background-color: $bg-color;
  /*background-color: grey;*/
  $layer-1: to-layer(
    ($fg-color, 52.7deg, 35.1%, 37.7%),
    ($fg-color, 99.7deg, 21.1%, 24.7%),
    ($bg-color, 52.7deg, 0%, 35.1%),
    ($bg-color, 99.7deg, 24.7%, 100%),
    ($fg-color, 80.7deg, 24.3%, 25%),
    ($fg-color, 116.7deg, 19.6%, 20%),
    ($fg-color, 10.3deg, 72.1%, 72.7%),
    ($fg-color, 152.8deg, 19.1%, 19.3%),
    ($fg-color, 177.8deg, 23.1%, 24%)
  );

  @include draw-layers(
    $layer-1
  );

//    ($fg-color, 41deg, 12%, 14%),
//    ($fg-color, 108.5deg, 57%, 59.2%),
//    ($fg-color, 63deg, 67.6%, 69.2%),
//    ($fg-color, 144deg, 81%, 87%),
//    ($fg-color, 36deg, 38.6%, 41%),
//    ($fg-color, 143deg, 55%, 55.9%),
//    ($fg-color, 129deg, 69%, 74%),
//    ($fg-color, 93deg, 77%, 80.9%),
//    ($bg-color, 129deg, 74%, 88%),
//    ($fg-color, 42deg, 74%, 76%),
//    ($fg-color, 139.5deg, 2%, 6%),
//    ($fg-color, 59deg, 18%, 21.9%),
//    ($fg-color, 20deg, 1%, 3.9%)
}

