.template {
  width: 1280px;
  height: 1024px;
  background: url('../images/bumblebee-guitar.png');
  background-size: cover;
  opacity: 0.4;
  position: absolute;
  top: 5em;
  left: 50%;
  transform: translateX(-50%);
}
